<table class="table table-hover table-bordered border-dark-subtle mb-4">
  <thead class="table-dark">
  <tr>
    <th scope="col">Producto</th>
    <th scope="col">Foto</th>
    <th scope="col">Precio</th>
    <th scope="col">Cantidad</th>
    <th scope="col">SubTotal</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Producto 1</td>
    <td>Foto del Producto</td>
    <td>$10.00</td>
    <td>1</td>
    <td>$10.00</td>
  </tr>
  <!-- Aquí puedes agregar más filas según sea necesario -->
  </tbody>
</table>

<table class="table mb-4">
  <thead>
  <tr>
    <th scope="col">Total</th>
    <th scope="col">Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>$12.000</td>
    <td>
      <button type="button" class="btn btn-primary btn-car">Pagar</button>
      <button type="button" class="btn btn-secondary btn-car">Cancelar</button>
    </td>
  </tr>
  </tbody>
</table>
